<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title'|trans({}, 'default') }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="container">
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
